.header {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  padding: 0.4rem;
}
.header-section {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: space-evenly;
  align-items: center;
}
.header-section h3 {
  margin: 0;
}

@media (max-width: 700px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.3rem;
  }
}
